.experienceInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60vw;
}
.expBoxContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.myBio {
  align-self: flex-start;
  color: var(--mattBlack);
  font-weight: 500;
  text-align: justify;
}

.expContainerLeft {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ebeaea;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 8px 8px 10px rgba(4, 57, 107, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.expContainerRight {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ebeaea;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 8px 8px 10px rgba(4, 57, 107, 0.3),
    -5px -5px 10px rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 1200px) {
  .experienceInnerContainer {
    width: 70vw;
  }
  .expBoxContainer {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .experienceInnerContainer {
    width: 80vw;
  }
}
@media only screen and (max-width: 900px) {
  .expBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.eachExpContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.eachExp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.expDurationTxt {
  font-size: 12px;
  color: grey;
  margin: 0px;
}

.expTitleTxt {
  margin-top: 5px;
  font-size: 14px;
  color: var(--accentColor2);
  font-weight: 900;
}

.expDescripTxt {
  margin: 0px;
  font-size: 13px;
  color: var(--mattBlack);
}

.expIcon {
  margin-top: 10px;
}
.verticalLine {
  width: 50%;
  border-right: 2px solid var(--mattBlack);
  height: 100px;
}
