.projectInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60vw;
}

.grid {
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  grid-gap: 40px;
  width: 60vw;
}
.androidGrid {
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 60vw;
  grid-gap: 50px;
}
.basicGrid {
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 60vw;
  grid-gap: 20px;
}

@media (max-width: 1224px) {
  .androidGrid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 700px) {
  .androidGrid {
    grid-template-columns: auto;
  }
}

@media (max-width: 1270px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: auto;
    padding: 5px;
    grid-gap: 20px;
  }
}
@media (max-width: 1300px) {
  .basicGrid {
    grid-template-columns: auto auto auto;
    padding: 5px;
    grid-gap: 10px;
  }
}
@media (max-width: 900px) {
  .basicGrid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 600px) {
  .basicGrid {
    grid-template-columns: auto;
  }
}
