.MainBoxTop {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

a {
  margin-left: 10px;
}

#about,
#projects,
#experience,
#courses,
#contact {
  scroll-margin-top: 65px;
}
