@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

img {
  border-radius: 20%;
  max-width: 300px;
}
.ImgDiv {
  margin: 20px;
  flex: 1;
}
.Title {
  text-align: left;
  flex: 3;
  font-size: 3vw;
  margin: auto;
}
.summary {
  margin: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  grid-gap: 10px;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  width: 300px;
  max-height: 400px;
  padding: 10px;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 50%;
  height: 8rem;
}

.card-content {
  padding: 3px;
}

.card-header {
  font-size: 20px;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 3px;
}

.card-text {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.7;

  color: #3d3d3d;
  margin-bottom: 3px;
}

.card-btn {
  display: block;
  width: 80%;
  padding: 3px;
  font-size: 20px;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 2px;
}

.card-btn span {
  margin-left: 20px;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  img {
    width: 100%;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .ImgDiv {
    flex: 1;
  }
  .Title {
    text-align: left;
    flex: 1;
    font-size: 3vw;
  }
  .grid {
    grid-gap: 10px;
    padding: 10px;
  }
  .grid-item {
    width: 350px;
  }
}
