h3 {
  text-align: left;
  margin-left: 20px;
}
.text-anim {
  display: inline-block;
  color: rgb(236, 22, 22);
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 50%,
    rgb(34, 34, 34) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.text-anim:hover {
  background-position: 0 100%;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  grid-gap: 10px;
  margin: auto;
  margin-bottom: 10px;
}
.each-skill {
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  max-height: 50px;
  padding: 5px;
  padding-bottom: 15px;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 50%,
    rgb(109, 109, 109) 50%
  );
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.each-skill:hover {
  transform: translateY(-1.5%);
  box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.5);
  background-position: 0 100%;
}
sup {
  color: green;
}
