@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primaryColor: #222831;
  --primaryColorLight: #30475e;
  --accentColor: #dddddd;
  --accentColor2: #d61a3c;
  --accentColor2Light: #d61a3c90;
  --mattBlack: #28282b;
  --accentColor2Light: rgba(214, 26, 60, 0.3);
  --animCircle: #ddddddd9;
  --animCircleLight: #dddddd1a;
}
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.App {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  position: absolute;
  font-family: "Poppins", sans-serif;
  background-color: #dddddd;
  top: 0;
  left: 0;
  width: 100%;
}
.SidebarBig {
  flex: 8%;
  background-color: var(--mattBlack);
}
.SidebarSmall {
  /* height: 60px; */
  background-color: var(--mattBlack);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.MainContentOuter {
  height: 100%;
  flex: 70%;
  position: relative;
  overflow: hidden;
}
.MainContentInner {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
  padding-bottom: 0px;
}
.partBg {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.partBg > div {
  height: 100%;
  width: 100%;
}

@media (max-width: 1000px) {
  .MainContent {
    /* flex: 100%; */
  }
  .SidebarBig {
    display: none;
  }
  .SidebarSmall {
    display: block;
    font-size: small;
  }

  .App {
    position: absolute;
  }
}

@media (min-width: 1000px) {
  .SidebarBig {
    display: block;
  }
  .SidebarSmall {
    display: none;
    /* font-size: small; */
  }
}

.Cfooter {
  background: var(--mattBlack);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftext {
  color: var(--accentColor);
  font-size: large;
  font-weight: 900;
}
