@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  position: fixed;
  font-family: "Poppins", sans-serif;
}
.SidebarBig {
  flex: 20%;
  background-color: black;
}
.SidebarSmall {
  flex: 100%;
  height: 80px;
  background-color: black;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.MainContentOuter {
  height: 100%;
  flex: 70%;
  position: relative;
  overflow: hidden;
}
.MainContentInner {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
}
.partBg {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.partBg > div {
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .MainContent {
    flex: 100%;
  }
  .SidebarBig {
    display: none;
  }
  .SidebarSmall {
    display: block;
    font-size: small;
  }
  .MainContentOuter {
    margin-top: 80px;
  }
  .App {
    position: relative;
  }
}

.Cfooter {
  background: black;
  height: 70px;
}

.ftext {
  color: white;
  margin: 0px;
  transform: translateY(50%);
}
